body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: aquamarine;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

.header {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    color: aquamarine;
    background-color: rgb(32, 23, 37);
}

.body-text p {
    width: 750px;
    text-align: center;
    display: flex;
    flex: auto;
    flex-wrap: wrap;
}

.body-text {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    border: solid 8px rgb(32, 23, 37);
    background-color: bisque;
    width: 1000px;
    margin: auto;
}

.middle-blocks-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
    border: solid 8px rgb(32, 23, 37);
    background-color: bisque;
    width: 1000px;
    margin: auto;
}

.middle-blocks {
    display: flex;
    justify-content: space-between;
    gap: 64px;
    flex: 1 1 auto;
}

.middle-blocks img {
    border: aquamarine 8px solid;
    border-radius: 15px;
}

.middle-block-text {
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 175px;
}

.block-monhun, .block-payday2, .block-atlyss, .block-misc {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(32, 23, 37);
    color: aquamarine;

}


a {
    text-decoration: none;
    color: aquamarine;
}

a:visited {
    color: aquamarine;
}

a:hover {
    color:white;
}

audio {
    margin: 20px;
}