body {
    display: flex;
    flex: 1 1 0;
    justify-content: center;
    align-items: center;
    flex: 0;
    height: 100vh;
    background-color: rgb(32, 23, 37);
}

.container {
    position: relative;
    flex: 0 1 1;
}

.container img {
    height: 100vh;
    width: auto;
}

button {
    flex: 1 1 0;
  position: absolute;
  top: 85%;
  left: 50%;
  width: 900px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border: 8px solid aquamarine;
    border-style: outset;
    background-color: bisque;
}

button:hover {
    flex: 1 1 0;
    background-color: rgb(255, 255, 255);
    border-width: 6px;
}

a {
    text-decoration: none;
    height: fit-content;
    width: fit-content;
}

h1 {
    font-size: 90px;
    font-weight: 900;
    color: aquamarine;

}